body {background-color: silver;
text-align: center;}
p { color: red;}


.header ul {display: flex;
flex-flow:row nowrap;
gap: 5rem;
list-style: none;
justify-content: space-evenly;}

.header {
display: flex;
  position: fixed;
  height: 7rem;
  width: 100%;
  top:0;
  background-color: aqua;
justify-content: space-evenly;
padding:0 20px;
align-items: center;}

.home {margin-top:4rem;}

.header > nav{display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  gap:200px;
}

.header > nav > img {height: 110px;}

.login {margin-top:100px;}
.register {margin-top:100px;}

.registerForm{display:flex;
flex-flow:column nowrap;
max-width: 500px;
margin:0 auto;}

.loginForm{display:flex;
  flex-flow:column nowrap;
  max-width: 500px;
  margin:0 auto;}


.allPosts {margin-top:200px;}

#login {margin-top:300px;}

.userInfo > img {
  width:50px;
  height:50px;
  border-radius:50%;
}

.userInfo {display:flex;
gap:5px;}

.pageContainer {margin-top:200px;}