body {background-color: silver;
text-align: center;}
p { color: red;}


.header ul {display: flex;
flex-flow:row nowrap;
gap: 1rem;
list-style: none;
justify-content: space-evenly;}

.header {
  position: fixed;
  height: 3rem;
  width: 100%;
  top:0;
  background-color: aqua;}

.home {margin-top:4rem;}

.header > nav{display: flex;
flex-flow:row nowrap;
justify-content: space-between;}
.header > nav > img {height: 3rem;}

.login {margin-top:100px;}
.register {margin-top:100px;}

.registerForm{display:flex;
flex-flow:column nowrap;
max-width: 500px;
margin:0 auto;}

.loginForm{display:flex;
  flex-flow:column nowrap;
  max-width: 500px;
  margin:0 auto;}


